.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(234, 228, 209);
}
.my-name {
  color: white;
  font-weight: 600;
}

.my-bg {
  background-color: rgb(108, 134, 80);
}
.my-badge {
  background-color: rgb(108, 134, 80);
  color: white;
}

.my-card {
  background-color: rgba(148, 68, 68, 0.115);
}